<!DOCTYPE html>
<html>
<head>
    <!-- Meta -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no,maximum-scale=1.0, minimum-scale=1">

    <title>Taruna Birla's Streming Service</title>
    <link rel="icon" href="/images/logo/Mono.png" type="image/icon type">

    <!-- Bootstrap -->
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Jquery -->
    <script src="/jquery/jquery.js"></script>

    <!-- Stylesheets -->
    <link rel="stylesheet" href="/stylesheets/common.css">

    <style>
        body {
            max-width: 650px;
        }
    </style>
</head>
<body>

    <video id="videoplayer" preload="metadata" width="650" controls autoplay controlsList="nodownload">
        <source src="/stream/video" type="video/mp4" />
    </video>


<!--Bootstrap js-->
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<!---->

<!-- Ionify js -->
<script src="/iconify/iconify.min.js"></script>
<!---->

<script>

</script>

</body>
</html>