<%- include('../../components/header/header.ejs',{cssFile : 'user'}) %> 

<div class="container-fluid user_data" id="user_data" onscroll="getMore()">
    <br>
    <!-- Modal -->
    <div class="modal fade" id="addBook" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Order</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form onsubmit="addCourse(event)" id="form" method="post" enctype="multipart/form-data" autocomplete="off">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <input type="text" id="title" name="title" class="form-control" placeholder="Enter Course Name"  style="margin-bottom: 10px;" required>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" id="category" style="margin-bottom: 10px;" name="category" aria-label="Images Categories" required>
                                      <option value="">Select course category</option>
                                      <option value="online">Online</option>
                                      <option value="offline">Offline</option>
                                      <option value="free">Free</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="url" id="promo_video" name="promo_video" class="form-control" placeholder="Enter Promo Video URL" style="margin-bottom: 10px;">
                                </div>
                                <div class="form-group">
                                    <input type="number" id="price" name="price" class="form-control" placeholder="Enter Course Price" style="margin-bottom: 10px;" required>
                                </div>
                                <div class="form-group">
                                    <input type="number" id="discount_price" name="discount_price" class="form-control" placeholder="Enter Discount Price" style="margin-bottom: 10px;" required>
                                </div>
                                <div class="form-group">
                                    <input type="number" id="days" name="days" class="form-control" placeholder="Enter Subscription Days" style="margin-bottom: 10px;" required>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" id="description" name="description" rows="3" placeholder="Enter description here.." style="margin-bottom: 10px;" required></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="">PDF</label>
                                    <input class="form-control" onchange="uploadPDF('add')" style="margin-bottom: 10px;" type="file" id="pdf" name="pdf" multiple accept="application/pdf">
                                </div>
                                <div id="preview_pdf">
                                    
                                </div>
                                <div class="form-group">
                                    <label for="">Images</label>
                                    <input class="form-control" onchange="uploadImages('add')" style="margin-bottom: 10px;" type="file" multiple id="course_images" name="images" accept="image/*">
                                </div>
                                <div id="preview" class="row preview_images">
                                    
                                </div>
                                <div class="button">
                                    <button type="submit" id="book_verify" class="btn btn-primary" style="width: 100%;margin-top: 20px;" >Create</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editCourse" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Book</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form onsubmit="editCourseSave(event)" id="form_" class="edit_form" method="post" enctype="multipart/form-data" autocomplete="off">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <input type="text" id="edittitle" name="edittitle" class="form-control" placeholder="Enter Book Name"  style="margin-bottom: 10px;" required>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" id="editcategory" style="margin-bottom: 10px;" name="category" aria-label="Images Categories" required>
                                      <option value="" id="editcategoryoption">Select course category</option>
                                      <option value="online">Online</option>
                                      <option value="offline">Offline</option>
                                      <option value="free">Free</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="url" id="editpromo_video" name="editpromo_video" class="form-control" placeholder="Enter Promo Video URL" style="margin-bottom: 10px;">
                                </div>
                                <div class="form-group">
                                    <input type="number" id="editprice" name="editprice" class="form-control" placeholder="Enter Course Price" style="margin-bottom: 10px;" required>
                                </div>
                                <div class="form-group">
                                    <input type="number" id="editdiscount_price" name="editdiscount_price" class="form-control" placeholder="Enter Discount Price" style="margin-bottom: 10px;" required>
                                </div>
                                <div class="form-group">
                                    <input type="number" id="editdays" name="editdays" class="form-control" placeholder="Enter Subscription Days" style="margin-bottom: 10px;" required>
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" id="editdescription" name="editdescription" rows="3" placeholder="Enter description here.." style="margin-bottom: 10px;" required></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="">PDF</label>
                                    <input class="form-control" onchange="uploadPDF('edit')" style="margin-bottom: 10px;" type="file" id="editpdf" name="editpdf" accept="application/pdf">
                                </div>
                                <div id="editpreview_pdf">
                                    
                                </div>
                                <div class="form-group">
                                    <label for="">Images</label>
                                    <input class="form-control" onchange="uploadImages('edit')" style="margin-bottom: 10px;" type="file" multiple id="edit_course_images" name="images" accept="image/*">
                                </div>
                                <div id="editpreview" class="row preview_images">
                                    
                                </div>
                                <div class="button">
                                    <button type="submit" id="edit_book_verify" class="btn btn-primary" style="width: 100%;margin-top: 20px;">Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="add_button">
      <a href="#">Orders</a>
      <div>
        <!-- <button type="button" data-bs-toggle="modal" data-bs-target="#addBook">Create Order</button> -->
      </div>
    </div>
    <table style="table-layout: auto;">
        <thead>
            <th>S. No.</th>
            <!-- <th>ORDER ID</th> -->
            <th>ITEM</th>
            <th>PHONE NUMBER</th>
            <th>DATE</th>
            <!-- <th>PRICE</th> -->
            <th>PAID PRICE</th>
            <th>ADDRESS</th>
            <th>PINCODE</th>
            <th>DESCRIPTION</th>
            <th>CATEGORY</th>
            <!-- <th>COUPON</th> -->
            <th>IMAGE</th>
            <th>QUANTITY</th>
            <!-- <th>PAYMENT STATUS</th> -->
            <!-- <th>PAYMENT METHOD</th> -->
            <!-- <th>OPTIONS</th> -->
            <th>DELIVERED</th>
        </thead>
        <tbody id="data">

        </tbody>
      </table>
      <br>
      <div id="tableLoader">
        <p>Loading...</p>
      </div>
</div>

<!--Bootstrap js-->
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<!---->

<script>

    var offset =0;

function getMore() {
        if(document.getElementById('user_data').scrollLeft == 0){
            offset = offset+20;
            getOrders(offset);
        }
    }

    function togglePlaced(id) {
        $.ajax({
            url : '/markedOrderPlaced',
            dataType: "json",
            type: "POST",
            data: {
                id:id
            },
            success: function(response){
                alert('Edited Successfullyt!!');
                location.reload();
            },
            error: function(err){
                console.log(err);
                alert('Some error occured !!');
            }
        });
    }

  function getOrders(offset) {
    $.ajax({
            url : `/getOrders/${offset}`,
            dataType: "json",
            type: "GET",
            success: function(response){
                // console.log(response);
                if(response.data.length != 0){
                  for(var i=0;i<response.data.length;i++){
                    $('#data').append('<tr><td>'+ (i+offset+1) +'</td><td>'+ response.data[i].name +'</td><td>'+ response.data[i].phoneNumber +'</td><td>'+ response.data[i].date_purchased.slice(0,10) +'</td><td>'+ response.data[i].paid_price +'</td><td>'+ response.data[i].address +'</td><td>'+ response.data[i].pincode +'</td><td>'+ response.data[i].description +'</td><td>'+ response.data[i].category +'</td><td><a href="'+ response.data[i].image_path +'" target="_blank"><img src="'+ response.data[i].image_path +'" ></a></td><td>'+ response.data[i].quantity +'</td><td> <div class="form-check form-switch">'+ (response.data[i].placed == 0 ? '<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" onclick="togglePlaced('+response.data[i].id+')">' : '<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" onclick="togglePlaced('+response.data[i].id+')" checked>') +' </div> </td></tr>');
                  }
                }
                  document.getElementById('tableLoader').style.display = 'none';
            },
            error: function(err){
                console.log(err);
                alert('Some error occured !!');
            }
        });
  }
  
  window.onload = getOrders(offset);

</script>

<%- include('../../components/footer/footer.ejs') %> 