<%- include('../../components/header/header.ejs',{cssFile : 'user'}) %> 

<div class="container-fluid user_data" onscroll="getMore()">
    <br>
    <div class="modal fade" id="givesubscription" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Give Subscription</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form onsubmit="giveSubscriptionToUsers(event)" class="course_video" id="course_video_form_" method="post">
                        <div class="form-group">
                            <select class="form-control" id="category" style="margin-bottom: 10px;" onchange="getCoursesByCategory()"  name="category" aria-label="Images Categories" required>
                              <option value="">Select course category</option>
                              <option value="online">Online</option>
                              <option value="offline">Offline</option>
                              <option value="free">Free</option>
                              <option value="live">Live</option>
                              <option value="Budget Friendly">Budget Friendly</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <select class="form-control" id="linked_item" style="margin-bottom: 10px;" name="linked_item" aria-label="Images Categories" required>
                              <option value="no_linked_item">Select Item</option>
                            </select>
                        </div>
                        <input type="hidden" name="" id="giveSubscriptionLiveId" value="">
                        <div class="button">
                            <button type="submit" id="course_video_button" class="btn btn-primary" style="width: 100%;margin-top: 20px;">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="allvideos" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Live Users</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div id="totalUsers"></div>
                    <form onsubmit="addLiveClassUser(event)" class="course_video" id="course_video_form_" method="post">
                        <div class="form-group">
                            <select class="form-control" id="users" style="margin-bottom: 10px;" name="users" aria-label="Users Categories" required>
                              <option value="">Select User</option>
                            </select>
                        </div>
                        <div class="button">
                            <button type="submit" id="course_video_button" class="btn btn-primary" style="width: 100%;margin-top: 20px;">Add</button>
                        </div>
                    </form>
                    <table style="table-layout: auto;">
                        <thead>
                            <th>S. no.</th>
                            <th>PHONE NUMBER</th>
                            <th>NAME</th>
                            <th>OPTIONS</th>
                        </thead>
                        <tbody id="category_data">
                            
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="addBook" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-xl">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add Live Class</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form onsubmit="addLiveClass(event)" id="form" method="post" enctype="multipart/form-data" autocomplete="off">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <input type="text" id="title" name="title" class="form-control" placeholder="Enter live title"  style="margin-bottom: 10px;" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" id="url" name="url" class="form-control" placeholder="Enter Link Video URL" style="margin-bottom: 10px;">
                                </div>
                                <div class="form-group">
                                    <label for="">Date</label>
                                    <input type="date" id="live_date" name="live_date" class="form-control" placeholder="Enter Course Price" style="margin-bottom: 10px;" required>
                                </div>
                                <div class="form-group">
                                    <input type="number" id="price" name="price" class="form-control" placeholder="Enter Course Price" style="margin-bottom: 10px;" required>
                                </div>
                                <div class="form-group">
                                    <input type="number" id="discount_price" name="discount_price" class="form-control" placeholder="Enter Discount Price" style="margin-bottom: 10px;" required>
                                </div>
                                <div class="form-group">
                                    <input type="url" id="promo_video" name="promo_video" class="form-control" placeholder="Enter Promo Video URL" style="margin-bottom: 10px;">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" id="description" name="description" rows="3" placeholder="Enter description here.." style="margin-bottom: 10px;" required></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="">Images</label>
                                    <input class="form-control" onchange="uploadImages('add')" style="margin-bottom: 10px;" type="file" id="live_images" name="live_images" accept="image/*">
                                </div>
                                <div id="preview" class="row preview_images">
                                    
                                </div>
                                <div class="button">
                                    <button type="submit" id="book_verify" class="btn btn-primary" style="width: 100%;margin-top: 20px;" >Create</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editCourse" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Live Class</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form onsubmit="editLiveClass(event)" id="form_" class="edit_form" method="post" enctype="multipart/form-data" autocomplete="off">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <input type="text" id="edittitle" name="edittitle" class="form-control" placeholder="Enter Book Name"  style="margin-bottom: 10px;" required>
                                </div>
                                <div class="form-group">
                                    <input type="text" id="editurl" name="editurl" class="form-control" placeholder="Enter Link Video URL" style="margin-bottom: 10px;">
                                </div>
                                <div class="form-group">
                                    <label for="">Date</label>
                                    <input type="date" id="editlive_date" name="editlive_date" class="form-control" placeholder="Enter Course Price" style="margin-bottom: 10px;" required>
                                </div>
                                <div class="form-group">
                                    <input type="number" id="editprice" name="editprice" class="form-control" placeholder="Enter Course Price" style="margin-bottom: 10px;" required>
                                </div>
                                <div class="form-group">
                                    <input type="number" id="editdiscount_price" name="editdiscount_price" class="form-control" placeholder="Enter Discount Price" style="margin-bottom: 10px;" required>
                                </div>
                                <div class="form-group">
                                    <input type="url" id="editpromo_video" name="editpromo_video" class="form-control" placeholder="Enter Promo Video URL" style="margin-bottom: 10px;">
                                </div>
                                <div class="form-group">
                                    <textarea class="form-control" id="editdescription" name="editdescription" rows="3" placeholder="Enter description here.." style="margin-bottom: 10px;" required></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="">Images</label>
                                    <input class="form-control" onchange="uploadImages('edit')" style="margin-bottom: 10px;" type="file" id="edit_live_images" name="images" accept="image/*">
                                </div>
                                <div id="editpreview" class="row preview_images">
                                    
                                </div>
                                <div class="button">
                                    <button type="submit" id="edit_book_verify" class="btn btn-primary" style="width: 100%;margin-top: 20px;">Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="add_button">
      <a href="#">Live Class</a>
      <div>
        <button type="button" data-bs-toggle="modal" data-bs-target="#addBook">Add Live Class</button>
      </div>
    </div>
    <table>
        <thead>
            <th>S. No.</th>
            <th>LIVE TITLE</th>
            <th>LIVE URL</th>
            <th>CREATED AT</th>
            <th>LIVE DATE</th>
            <th>PRICE</th>
            <th>DISCOUNT PRICE</th>
            <th>THUMBNAIL</th>
            <th>OPTIONS</th>
        </thead>
        <tbody id="data">

        </tbody>
      </table>
      <br>
      <div id="tableLoader">
        <p>Loading...</p>
      </div>
</div>

<!-- Modal -->
<div class="modal fade" id="sendingNotification" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <h3>Sending Notification Please Wait!!</h3>
        </div>
      </div>
    </div>
  </div>


<!--Bootstrap js-->
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<!---->

<script>

    var editCourseModal = new bootstrap.Modal(document.getElementById('editCourse'));
    var allVideosModal = new bootstrap.Modal(document.getElementById('allvideos'));
    var givesubscriptionModal = new bootstrap.Modal(document.getElementById('givesubscription'));
    var offset = 0;

    $(function(){
        if($('textarea#description').length){
            CKEDITOR.replace('description', {
                // filebrowserUploadUrl: '/admin/upload',
                // filebrowserUploadMethod: 'form'
            });
        }
        if($('textarea#editdescription').length){
            CKEDITOR.replace('editdescription', {
                // filebrowserUploadUrl: '/admin/upload',
                // filebrowserUploadMethod: 'form'
            });
        }
    });

    function getCoursesByCategory() {
        var value = document.getElementById("category").value;
            var select = document.getElementById("linked_item");
            var length = select.options.length;
            for (var i = length-1; i >= 0; i--) {
                select.options[i] = null;
            }   
        if(value.length != 0){
            $.ajax({
            url : `/getCategoryCourse/${value}`,
            dataType: "json",
            type: "GET",
            success: function(response){
              // console.log(response);
                if(response.data.length != 0){
                  for(var i=0;i<response.data.length;i++){
                    var option = document.createElement("option");
                            option.text = response.data[i].title;
                            option.value = response.data[i].id;
                            select.add(option);
                  }
                } else {
                    var option = document.createElement("option");
                        option.text = "No Courses present";
                        option.value= "";
                        select.add(option);
                }
                  document.getElementById('tableLoader').style.display = 'none';
            },
            error: function(err){
                console.log(err);
                alert('Some error occured !!');
            }
        });
        } else {
            var option = document.createElement("option");
            option.text = "Select Item";
            option.value= "";
            select.add(option);  
        }
    }

    function giveSubscriptionToUsers(event) {
        $(parent.document).find('#image_loader').css('display','flex');
        event.preventDefault();
        var course_id = document.getElementById("linked_item").value;
        var live_id = document.getElementById("giveSubscriptionLiveId").value;
        if(value.length != 0){
            // alert(value + ' ' + live_id);
            $.ajax({
                url : '/addLiveToSubscription',
                dataType: "json",
                type: "POST",
                data: {
                    course_id:course_id,
                    live_id:live_id,
                },
                success: function(response){
                    alert('Subscription updates successfully');
                    $(parent.document).find('#image_loader').css('display','none');
                    location.reload();
                },
                error: function(err){
                    console.log(err);
                    alert('Some error occured !!');
                }
            });
        } else {
            alert('No courses present in the selected category');
        }
    }

    function getUsers() {
        var select = document.getElementById("users");
        var length = select.options.length;
        for (var i = length-1; i >= 0; i--) {
            select.options[i] = null;
        }  
        var option = document.createElement("option");
        option.text = "Select Users";
        option.value= "";
        select.add(option);             
        $.ajax({
            url : `/getSubscriptionUsers`,
            dataType: "json",
            type: "GET",
            success: function(response){
              // console.log(response);
                if(response.data.length != 0){
                  for(var i=0;i<response.data.length;i++){
                    var option = document.createElement("option");
                            option.text = response.data[i].phone_number;
                            option.value= response.data[i].id;
                            select.add(option);
                  }
                } else {
                    var option = document.createElement("option");
                        option.text = "No Users present";
                        option.value= "";
                        select.add(option);
                }
                $('#users').selectize({
                    sortField: 'text'
                });
                  document.getElementById('tableLoader').style.display = 'none';
            },
            error: function(err){
                console.log(err);
                alert('Some error occured !!');
            }
        });
  }

    function addLiveClass(event){
      event.preventDefault();

      var title = document.getElementById('title').value;
      var url = document.getElementById('url').value;
      var live_date = document.getElementById('live_date').value;
      var price = document.getElementById('price').value;
      var discount_price = document.getElementById('discount_price').value;
      var gallery = document.getElementsByClassName("gallery_image_path")[0].value;
      var promo_video = document.getElementById('promo_video').value;
      var description = CKEDITOR.instances['description'].getData();
    //   var gallery_values = [];
      if(gallery.length != 0) {
        // for(var i =0;i<gallery.length;i++) {
        //     gallery_values.push(gallery[i].value);
        // }
        $.ajax({
                url : '/addLiveClass',
                dataType: "json",
                type: "POST",
                data: {
                    title:title,
                    url:url,
                    live_date:live_date,
                    price:price,
                    gallery:gallery,
                    discount_price:discount_price,
                    description:description,
                    promo_video:promo_video
                },
                success: function(response){
                    alert('Live class added successfully');
                    location.reload();
                },
                error: function(err){
                    console.log(err);
                    alert('Some error occured !!');
                }
            });
      }
  }

  function addLiveClassUser(event){
      event.preventDefault();

      
    var user_id = document.getElementById('users').value;
    var live_id = document.getElementsByClassName('course_video')[0].getAttribute('id').split('_')[3];
    $.ajax({
                url : '/addLiveClassUser',
                dataType: "json",
                type: "POST",
                data: {
                    user_id:user_id,
                    live_id:live_id
                },
                success: function(response){
                    alert('Live class user added successfully');
                    location.reload();
                },
                error: function(err){
                    console.log(err);
                    alert('Some error occured !!');
                }
            });
  }

  function editLiveClass(event){
      event.preventDefault();

      var title = document.getElementById('edittitle').value;
      var url = document.getElementById('editurl').value;
      var live_date = document.getElementById('editlive_date').value;
      var price = document.getElementById('editprice').value;
      var discount_price = document.getElementById('editdiscount_price').value;
      var promo_video = document.getElementById('editpromo_video').value;
      var description = CKEDITOR.instances['editdescription'].getData();

    //   console.log(gallery);

      var id = document.getElementsByClassName('edit_form')[0].getAttribute('id').split('_')[1];
            $.ajax({
                url : `/editLiveClass`,
                dataType: "json",
                type: "POST",
                data: {
                    title:title,
                    url:url,
                    live_date:live_date,
                    price:price,
                    discount_price:discount_price,
                    description:description,
                    promo_video:promo_video,
                    id:id
                },
                success: function(response){
                    alert('Live Class edited successfully');
                    location.reload();
                },
                error: function(err){
                    console.log(err);
                    alert('Some error occured !!');
                }
            });
  }

function deleteCurrentGalleryImage(id,input_id) {
    var path = document.getElementById(input_id).value;
    if(confirm('Do you want to delete it?') == true){
        console.log(path);
        if(path != '/images/extra/nopreview.jpeg') {
            $.ajax({
                url : '/deletePhoto',
                dataType: "json",
                type: "POST",
                data: {
                    path:path
                },
                success: function(response){
                    alert('Removed Successfully');
                    document.getElementById(id).remove();
                },
                error: function(err){
                    console.log(err);
                    alert('Some error occured !!');
                }
            });
        }
    } 
}

function deleteEditCurrentGalleryImage(id,path) {
    if(confirm('Do you want to delete it?') == true){
        console.log(path);
        if(path != '/images/extra/nopreview.jpeg') {
            $.ajax({
                url : `/deleteEditPhoto`,
                dataType: "json",
                type: "POST",
                data: {
                    path:path
                },
                success: function(response){
                    alert('Removed Successfully');
                    document.getElementById(id).remove();
                },
                error: function(err){
                    console.log(err);
                    alert('Some error occured !!');
                }
            });
        }
    } 
}

    function uploadImages(value) {
        $(parent.document).find('#image_loader').css('display','flex');
      if(value != 'edit'){
        var fileForm = new FormData();
        var image = document.getElementById('live_images').files[0];
        //   console.log(imageFiles);
        // var form = new FormData();
        //   document.getElementById('preview').innerHTML = '';
            fileForm.append('slider_image',image);

        // for(var i=0;i<imageFiles.length;i++){
        //     if(imageFiles[i] != undefined){
        //         form.append(`book_images`, imageFiles[i]);
        //     }
        // }

        $.ajax({
            url : "/uploadSliderImage",
            type: "POST",
            cache: false,
            contentType: false,
            processData: false,
            data : fileForm,
            success: function(response){
                var path = response.path.slice(6,response.path.length);
                $('#preview').append('<div class="col-6" id="gallery_image_'+ path +'"><div class="card" id="append_image_'+ path +'"><a class="delete_gallery_image" onclick="deleteCurrentGalleryImage(\''+ ( "gallery_image_"+ path )  +'\',\'gallery_image_path_'+ path +'\')"><span class="iconify" data-icon="akar-icons:cross"></span></a><img src="'+ path +'" id="preview_galler_image_'+ path +'" alt=""><input type="hidden" class="gallery_image_path" name="gallery_image_path" id="gallery_image_path_'+ path +'" value="'+ path +'"></div></div>');
                    document.getElementById('live_images').value = '';
                    $(parent.document).find('#image_loader').css('display','none');
            },
            error: function(err){
                console.log(err.status);
            }
        });
      } else {
        var fileForm = new FormData();
        var image = document.getElementById('edit_live_images').files[0];
        //   console.log(imageFiles);
        // var form = new FormData();
        //   document.getElementById('preview').innerHTML = '';
        var id = document.getElementsByClassName('edit_form')[0].getAttribute('id').split('_')[1];
            fileForm.append('slider_image',image);

        // for(var i=0;i<imageFiles.length;i++){
        //     if(imageFiles[i] != undefined){
        //         form.append(`book_images`, imageFiles[i]);
        //     }
        // }

        $.ajax({
            url : `/uploadSliderImage/${id}`,
            type: "POST",
            cache: false,
            contentType: false,
            processData: false,
            data : fileForm,
            success: function(response){
                document.getElementById('editpreview').innerHTML = '';
                var path = response.path.slice(6,response.path.length);
                $('#editpreview').append('<div class="col-6" id="gallery_image_'+ path +'"><div class="card" id="append_image_'+ path +'"><a class="delete_gallery_image" onclick="deleteCurrentGalleryImage(\''+ ( "gallery_image_"+ path )  +'\',\'gallery_image_path_'+ path +'\')"><span class="iconify" data-icon="akar-icons:cross"></span></a><img src="'+ path +'" id="preview_galler_image_'+ path +'" alt=""><input type="hidden" class="edit_gallery_image_path" name="gallery_image_path" id="gallery_image_path_'+ path +'" value="'+ path +'"></div></div>');
                    document.getElementById('live_images').value = '';
                    $(parent.document).find('#image_loader').css('display','none');
            },
            error: function(err){
                console.log(err.status);
            }
        });
      }
  }

  function deleteLiveClass(id) {
    if(confirm('Do you want to delete it?') == true){
      $.ajax({
            url : '/deleteLiveClass',
            dataType: "json",
            type: "POST",
            data: {
                id:id
            },
            success: function(response){
                alert('Deleted Successfullyt!!');
                location.reload();
            },
            error: function(err){
                console.log(err);
                alert('Some error occured !!');
            }
      });
    } 
  }

  function deleteLiveClassUser(id) {
    if(confirm('Do you want to delete it?') == true){
      $.ajax({
            url : '/deleteLiveClassUser',
            dataType: "json",
            type: "POST",
            data: {
                id:id
            },
            success: function(response){
                alert('Deleted Successfullyt!!');
                location.reload();
            },
            error: function(err){
                console.log(err);
                alert('Some error occured !!');
            }
      });
    } 
  }

  function deleteEditCurrentGalleryImage(id,path) {
    if(confirm('Do you want to delete it?') == true){
        console.log(path);
        if(path != '/images/extra/nopreview.jpeg') {
            $.ajax({
                url : `/deleteEditPhoto`,
                dataType: "json",
                type: "POST",
                data: {
                    path:path
                },
                success: function(response){
                    alert('Removed Successfully');
                    document.getElementById(id).remove();
                },
                error: function(err){
                    console.log(err);
                    alert('Some error occured !!');
                }
            });
        }
    } 
}

  function editLiveClassValues(id,title,url,live_date,price,discount_price,path,promo_video) {
      document.getElementById('editpreview').innerHTML = '';
      if(path != null && path.length !=0){
    $('#editpreview').append('<div class="col-6" id="edit_gallery_image_'+ path +'"><div class="card" id="append_image_'+ path +'"><a class="delete_gallery_image" onclick="deleteEditCurrentGalleryImage(\''+ ( "edit_gallery_image_"+ path )  +'\',\''+ path +'\')"><span class="iconify" data-icon="akar-icons:cross"></span></a><img src="'+ path +'" id="preview_galler_image_'+ path +'" alt=""></div></div>');
      }
      document.getElementById('edittitle').value = title;
      document.getElementById('editlive_date').innerHTML = live_date;
      document.getElementById('editprice').value = price;
      document.getElementById('editdiscount_price').value = discount_price;
      document.getElementById('editpromo_video').value = promo_video;
      document.getElementById('editurl').value = url;
      CKEDITOR.instances['editdescription'].setData(document.getElementById('ckeditorvalue' + id).value);
      document.getElementsByClassName('edit_form')[0].setAttribute('id',`form_${id}`);
      editCourseModal.toggle();
  }

  function getMore() {
        offset = offset+20;
        getLive(offset,false);
    }

    function getLiveUsers(id) {
        document.getElementById('category_data').innerHTML = '';
        $.ajax({
                url : `/getLiveUsers/${id}`,
                dataType: "json",
                type: "GET",
                success: function(response){
                    // console.log(response);
                    for(var i=0;i<response.data.length;i++) {
                        $('#category_data').append('<tr><td>'+ (i+1) +'</td><td>'+ response.data[i].phone_number +'</td><td>'+ response.data[i].name +'</td><td><a class="delete" onclick="deleteLiveClassUser('+response.data[i].id+')"><span class="iconify" data-icon="ant-design:delete-outlined"></span></a></td></tr>');
                    }
                document.getElementById('totalUsers').innerHTML = 'Total live users = ' + response.data.length;
                },
                error: function(err){
                    console.log(err);
                    alert('Some error occured !!');
                }
        });
        document.getElementsByClassName('course_video')[0].setAttribute('id',`course_video_form_${id}`); 
        allVideosModal.toggle();
  }

    function liveClassUser(id) {
        getLiveUsers(id);
        // allVideosModal.toggle();
    }

    function giveSubscription(live_id,course_id,days) {
        // document.getElementById('giveSubscriptionLiveId').value = id;
        // document.getElementById("category").value = "";
        //     var select = document.getElementById("linked_item");
        //     var length = select.options.length;
        //     for (var i = length-1; i >= 0; i--) {
        //         select.options[i] = null;
        //     }   
        // var option = document.createElement("option");
        //     option.text = "Select Item";
        //     option.value= "";
        //     select.add(option);  
        // givesubscriptionModal.toggle();
        $(parent.document).find('#image_loader').css('display','flex');
        $.ajax({
                url : '/addLiveToSubscription',
                dataType: "json",
                type: "POST",
                data: {
                    course_id:course_id,
                    live_id:live_id,
                    days:days
                },
                success: function(response){
                    alert('Subscription updates successfully');
                    $(parent.document).find('#image_loader').css('display','none');
                    location.reload();
                },
                error: function(err){
                    console.log(err);
                    alert('Some error occured !!');
                }
            });
    }

    function removeHTML(str){ 
        var tmp = document.createElement("DIV");
        tmp.innerHTML = str;
        return tmp.textContent || tmp.innerText || "";
    }

function sendNotification(title,live_id,share_url,description,image){
        // var desc = removeHTML(description);
        var send_image;
        if(image.length !=0){
                send_image = `https://dashboard.cheftarunabirla.com${image}`;
        } else {
            send_image = 'https://dashboard.cheftarunabirla.com/images/all/logo.png';
        // console.log(share_url);
        }
        $('#sendingNotification').modal('toggle');
        $.ajax({
            url:"/sendNotification",
            dataType: "jsonp",
            type:"POST",
            data:{
                title:title,
                share_url:share_url,
                link:`https://dashboard.cheftarunabirla.com/getUserLive/1/${live_id}&live_id=${live_id}`,
                item_id:live_id,
                type:'live',
                image:send_image,
                description:description.slice(0,30) + '...',
            },
            success: function(data){
                console.log('done');
                if(data.message == 'success'){
                    alert('notification sent');
                } else {
                    alert('Some error occured');
                }
                $('#sendingNotification').modal('toggle');
            },
            error: function(err){
                console.log(err.status);
            }
        });
    }


  function getLive(offset,callFunction) {
    $.ajax({
            url : `/getLive/${offset}`,
            dataType: "json",
            type: "GET",
            success: function(response){
                if(response.data.length != 0){
                  for(var i=0;i<response.data.length;i++){
                    var desc = removeHTML(response.data[i].description).replace(/(\r\n|\n|\r)/gm, "").replaceAll(`'`,``);
                    $('#data').append('<tr><td>'+ (i+offset+1) +'</td> <td>'+ response.data[i].title +'</td><td><a href="'+ (response.data[i].url != null ? response.data[i].url : "#" ) +'" target="_blank">URL</a></td><td>'+ Date(response.data[i].created_at).slice(0,16) +'</td><td>'+ Date(response.data[i].live_date).slice(0,16) +'</td><td>'+ response.data[i].price +'</td><td>'+ response.data[i].discount_price +'</td><td><img src="'+ response.data[i].image_path +'" alt="no_image"></td> <td> <div class="options"> <a class="edit" onclick="editLiveClassValues(\''+response.data[i].id+'\',\''+response.data[i].title+'\',\''+response.data[i].url+'\',\''+response.data[i].live_date+'\',\''+response.data[i].price+'\',\''+response.data[i].discount_price+'\',\''+response.data[i].image_path+'\',\''+response.data[i].promo_video+'\')"><span class="iconify" data-icon="akar-icons:edit"></span></a> <a class="delete" onclick="deleteLiveClass('+response.data[i].id+')"><span class="iconify" data-icon="ant-design:delete-outlined"></span></a><a onclick="sendNotification(\''+response.data[i].title+'\',\''+response.data[i].id+'\',\''+response.data[i].share_url+'\',\''+desc+'\',\''+response.data[i].image_path+'\')" class="profile">Send Notification</a><a onclick="liveClassUser('+response.data[i].id+')" class="profile">View Users</a>'+ (response.data[i].course_id != null ? '<a onclick="giveSubscription(\''+response.data[i].id+'\',\''+response.data[i].course_id+'\',\''+response.data[i].days+'\')" class="profile">Give Subscription</a>' : '') +'</div> </td> </tr><input type="hidden" id='+ 'ckeditorvalue' + response.data[i].id +' value="'+ response.data[i].description +'">');
                  }
                } else {
                    // $('#data').append('<tr><td>No Courses present</td></tr>')
                }
                  document.getElementById('tableLoader').style.display = 'none';
            },
            error: function(err){
                console.log(err);
                alert('Some error occured !!');
            }
        });
        if(callFunction) {
        getUsers();
        }
  }
  
  window.onload = getLive(0,true);

</script>

<%- include('../../components/footer/footer.ejs') %> 