<%- include('../../components/header/header.ejs',{cssFile : 'user'}) %> 

<div class="container-fluid user_data" onscroll="getMore()">
    <br>
    <div class="add_button">
      <a href="#">Users</a>
      <div class="search_bar">
        <div class="search_input">
            <div class="icon">
              <a><span class="iconify" data-icon="akar-icons:search"></span></a>
            </div>
            <div class="input">
              <input type="text" name="" id="" onkeyup="searchUser(this.value)" placeholder="Search by phone number">
            </div>
          </div>
      </div>
    </div>
    <table id="myTable">
        <thead>
            <th>PHONE NUMBER</th>
            <th>DEVICE UPDATE REQUEST</th>
            <th>LOGGED IN</th>
        </thead>
        <tbody id="data">
        </tbody>
      </table>
      <br>
      <div id="tableLoader">
        <p>Loading...</p>
      </div>
</div>

<script>

  //function search
  function searchUser(value){
    document.getElementById('data').innerHTML = '';
    if(value.length != 0) {
      $.ajax({
        url : `/getSearchUser/${value}`,
        dataType: "json",
        type: "GET",
        success: function(response){
          // console.log(response);
          if(response.data.length != 0){
            for(var i=0;i<response.data.length;i++){
              $('#data').append('<tr> <td>'+ response.data[i].phone_number +'</td><td><a onclick="updateDeviceRequest('+response.data[i].phone_number+')" class="profile">Update</a></div> </td> </tr>');
            }
          } else {
                    // $('#data').append('<tr><td>No Users present</td></tr>');
          }
          document.getElementById('tableLoader').style.display = 'none';
        },
        error: function(err){
          console.log(err);
          alert('Some error occured !!');
        }
      });
    } else {
      getUsers(0);
    }
  }

  var offset = 0;

  function updateDeviceRequest(phone_number) {
    if(confirm('Do you want to Update it?') == true){
      $.ajax({
            url : `/updateDeviceRequest/${phone_number}`,
            dataType: "json",
            type: "GET",
            success: function(response){
                alert('Updated Successfully !!');
                location.reload();
            },
            error: function(err){
                console.log(err);
                alert('Some error occured !!');
            }
    });  
    } 
  }

  function getMore() {
        document.getElementById('tableLoader').style.display = 'block';
        offset = offset+20;
        getUsers(offset);
  }

  function getUsers(offset) {
    $.ajax({
            url : `/getUsers/${offset}`,
            dataType: "json",
            type: "GET",
            success: function(response){
              // console.log(response);
                if(response.data.length != 0){
                  for(var i=0;i<response.data.length;i++){
                    $('#data').append('<tr> <td>'+ response.data[i].phone_number +'</td><td><a onclick="updateDeviceRequest('+response.data[i].phone_number+')" class="profile">Update</a></div> </td><td>'+ (response.data[i].logged_in == 1 ? 'Yes' : 'No') +'</td> </tr>');
                  }
                } else {
                    // $('#data').append('<tr><td>No Users present</td></tr>');
                }
                  document.getElementById('tableLoader').style.display = 'none';
            },
            error: function(err){
                console.log(err);
                alert('Some error occured !!');
            }
        });
  }
  
  window.onload = getUsers(offset);
</script>

<%- include('../../components/footer/footer.ejs') %> 