<%- include('../../components/header/header.ejs',{cssFile : 'user'}) %> 

<div class="container-fluid user_data" onscroll="getMore()">
    <br>
    <div class="add_button">
      <a href="#">Users</a>
      <div class="search_bar">
        <div class="search_input">
            <div class="icon">
              <a><span class="iconify" data-icon="akar-icons:search"></span></a>
            </div>
            <div class="input">
              <input type="text" name="" id="phoneNumber" placeholder="Search by phone number">
            </div>
        </div>
        <button type="button" style="margin-left: 20px" onclick="searchUser()">Search</button>
      </div>
    </div>
    <table id="myTable">
        <thead>
          <th>S. No.</th>
            <th>PHONE NUMBER</th>
            <th>DEVICE UPDATE REQUEST</th>
            <th>LOGGED IN</th>
            <th>ACCOUNT</th>
            <th>DEVICE</th>
            <th>WARNING</th>
            <th>BLOCKED</th>
        </thead>
        <tbody id="data">
        </tbody>
      </table>
      <br>
      <div id="tableLoader">
        <p>Loading...</p>
      </div>
</div>

<script>

  // var callMoreFunction = true;

  //function search
  function searchUser(){
    offset = 0;
    var value = document.getElementById('phoneNumber').value;
    document.getElementById('data').innerHTML = '';
    if(value.length > 3) {
      $.ajax({
        url : `/getSearchUser/${value}`,
        dataType: "json",
        type: "GET",
        success: function(response){
          // console.log(response);
          if(response.data.length != 0){
            for(var i=0;i<response.data.length;i++){
              $('#data').append('<tr> <td>'+ (i+1) +'</td><td>'+ response.data[i].phone_number +'</td><td><a onclick="updateDeviceRequest('+response.data[i].phone_number+')" class="profile">Update</a></div> </td><td>'+ (response.data[i].logged_in == 1 ? 'Yes' : 'No') +'</td><td><a href="/users/eachUser/'+ response.data[i].id +'" class="profile">Open</a></td><td>'+ response.data[i].device +'</td><td>'+ response.data[i].warning +'</td><td> <div class="form-check form-switch">'+ (response.data[i].blocked == 0 ? '<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" onclick="toggleBlocked('+response.data[i].id+')">' : '<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" onclick="toggleBlocked('+response.data[i].id+')" checked>') +' </div> </td> </tr>');
            }
          } else {
                    // $('#data').append('<tr><td>No Users present</td></tr>');
          }
          document.getElementById('tableLoader').style.display = 'none';
        },
        error: function(err){
          console.log(err);
          alert('Some error occured !!');
        }
      });
    } else {
      getUsers(0);
    }
  }

  var offset = 0;

  function updateDeviceRequest(phone_number) {
    if(confirm('Do you want to Update it?') == true){
      $.ajax({
            url : `/updateDeviceRequest/${phone_number}`,
            dataType: "json",
            type: "GET",
            success: function(response){
                alert('Updated Successfully !!');
                location.reload();
            },
            error: function(err){
                console.log(err);
                alert('Some error occured !!');
            }
    });  
    } 
  }

  function getMore() {
    // console.log(callMoreFunction);
    // if(callMoreFunction){
        // document.getElementById('tableLoader').style.display = 'block';
          offset = offset+20;
          getUsers(offset);
        // }
  }

  function openUserAccount(id) {

  }

  function toggleBlocked(id) {
        $.ajax({
            url : '/markedUserBlocked',
            dataType: "json",
            type: "POST",
            data: {
                id:id
            },
            success: function(response){
                alert('Edited Successfullyt!!');
            },
            error: function(err){
                console.log(err);
                alert('Some error occured !!');
            }
        });
    }

  function getUsers(offset) {
    // callMoreFunction = false;
    $.ajax({
            url : `/getUsers/${offset}`,
            dataType: "json",
            type: "GET",
            success: function(response){
              // console.log(response);
                if(response.data.length != 0){
                  for(var i=0;i<response.data.length;i++){
                    $('#data').append('<tr><td>'+ (i+offset+1) +'</td> <td>'+ response.data[i].phone_number +'</td><td><a onclick="updateDeviceRequest('+response.data[i].phone_number+')" class="profile">Update</a></div> </td><td>'+ (response.data[i].logged_in == 1 ? 'Yes' : 'No') +'</td><td><a href="/users/eachUser/'+ response.data[i].id +'" class="profile">Open</a></td><td>'+ response.data[i].device +'</td><td>'+ response.data[i].warning +'</td><td> <div class="form-check form-switch">'+ (response.data[i].blocked == 0 ? '<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" onclick="toggleBlocked('+response.data[i].id+')">' : '<input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" onclick="toggleBlocked('+response.data[i].id+')" checked>') +' </div> </td> </tr>');
                  }
                } else {
                    // $('#data').append('<tr><td>No Users present</td></tr>');
                }
                  document.getElementById('tableLoader').style.display = 'none';
                  // callMoreFunction = true;
            },
            error: function(err){
                console.log(err);
                alert('Some error occured !!');
            }
        });
  }
  
  window.onload = getUsers(offset);
</script>

<%- include('../../components/footer/footer.ejs') %> 