<%- include('../../components/header/header.ejs',{cssFile : 'user'}) %> 

<div class="container-fluid user_data" id="user_data" onscroll="getMore()">
    <br>
    <!-- Modal -->
    <div class="modal fade" id="addBook" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Subscription</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form onsubmit="addSubscription(event)" id="form" method="post" enctype="multipart/form-data" autocomplete="off">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <select class="form-control" id="users" style="margin-bottom: 10px;" name="users" aria-label="Users Categories" required>
                                      <option value="">Select User</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="">Start Date</label>
                                    <input type="date" id="date_purchased" name="date_purchased" class="form-control" placeholder="Enter Promo Video URL" required style="margin-bottom: 10px;">
                                </div>
                                <div class="form-group">
                                    <label for="">End Date</label>
                                    <input type="date" id="end_date" name="end_date" class="form-control" placeholder="Enter Course Price" style="margin-bottom: 10px;" required>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" id="show_category" style="margin-bottom: 10px;" name="show_category" aria-label="Images Categories" onchange="getItems('add')" required>
                                        <option value="">Select Category</option>
                                      <option value="course">Course</option>
                                      <option value="book">Book</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" id="linked_item" style="margin-bottom: 10px;" name="linked_item" aria-label="Images Categories" required>
                                      <option value="no_linked_item">Select Item</option>
                                    </select>
                                </div>
                                <div class="button">
                                    <button type="submit" id="book_verify" class="btn btn-primary" style="width: 100%;margin-top: 20px;" >Create</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editCourse" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Subscription</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form onsubmit="editSubscriptionSave(event)" id="form_" class="edit_form" method="post" enctype="multipart/form-data" autocomplete="off">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label for="">End Date</label>
                                    <input type="date" id="editend_date" name="editend_date" class="form-control" placeholder="Enter Course Price" style="margin-bottom: 10px;" required>
                                </div>
                                <div class="button">
                                    <button type="submit" id="edit_book_verify" class="btn btn-primary" style="width: 100%;margin-top: 20px;">Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="add_button">
      <a href="#">Subscription</a>
      <div class="search_bar">
        <div class="search_input">
            <div class="icon">
              <a><span class="iconify" data-icon="akar-icons:search"></span></a>
            </div>
            <div class="input">
              <input type="text" name="" id="" onkeyup="searchUser(this.value)" placeholder="Search by phone number">
            </div>
          </div>
      </div>
      <div class="options">
        <a style="color: black;display: inline;font-size: 16px;">Select Category</a>
        <div class="form-group" style="display: inline-block;">
          <select class="form-control" id="editstock" onchange="getSubscription(this.value,0)" name="editstock" aria-label="Images Categories" required>
            <option value="course">Courses</option>
            <option value="book">Books</option>
          </select>
        </div>
        <button type="button" data-bs-toggle="modal" data-bs-target="#addBook">Create Subscription</button>
      </div>
    </div>
    <table>
        <thead>
            <th>PHONE NUMBER</th>
            <th>START DATE</th>
            <th>END DATE</th>
            <th>CATEGORY</th>
            <th>ITEM NAME</th>
            <th>ITEM CATEGORY</th>
            <th>OPTIONS</th>
        </thead>
        <tbody id="data">

        </tbody>
      </table>
      <br>
      <div id="tableLoader">
        <p>Loading...</p>
      </div>
</div>

<!--Bootstrap js-->
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<!---->

<script>

    var offset =0;
    var editCourseModal = new bootstrap.Modal(document.getElementById('editCourse'));

    function getMore() {
        offset = offset+20;
        var value = document.getElementById('show_category').value;
        console.log(value);
        // getSubscription(value,offset);
    }


function getItems(form_value) {
        var value = document.getElementById('show_category').value;
        var select;
        // console.log(value);
        if(value == 'course'){
            $.ajax({
                url : '/getCourse',
                dataType: "json",
                type: "GET",
                success: function(response){
                    select = document.getElementById("linked_item");
                    var length = select.options.length;
                    for (var i = length-1; i >= 0; i--) {
                        select.options[i] = null;
                    }
                    if(response.data.length != 0){
                        for(var i=0;i<response.data.length;i++){
                            var option = document.createElement("option");
                            option.text = response.data[i].title;
                            option.value= response.data[i].id;
                            select.add(option);
                        }
                    } else {
                        var option = document.createElement("option");
                        option.text = "No Courses present";
                        option.value= 'no_linked_item';
                        select.add(option);
                    }
                },
                error: function(err){
                    console.log(err);
                    alert('Some error occured !!');
                }
            });
        } else if(value == 'book'){
            $.ajax({
                url : '/getBooks',
                dataType: "json",
                type: "GET",
                success: function(response){
                    select = document.getElementById("linked_item");
                    var length = select.options.length;
                    for (var i = length-1; i >= 0; i--) {
                        select.options[i] = null;
                    }
                    if(response.data.length != 0){
                        for(var i=0;i<response.data.length;i++){
                            var option = document.createElement("option");
                            option.text = response.data[i].title;
                            option.value= response.data[i].id;
                            select.add(option);
                        }
                    } else {
                        var option = document.createElement("option");
                        option.text = "No Courses present";
                        option.value= 'no_linked_item';
                        select.add(option);
                    }
                },
                error: function(err){
                    console.log(err);
                    alert('Some error occured !!');
                }
            });
        } 
    }


    function addSubscription(event){
      event.preventDefault();

      var user_id = document.getElementById('users').value;
      var category = document.getElementById('show_category').value;
      var date_purchased = document.getElementById('date_purchased').value;
      var end_date = document.getElementById('end_date').value;
      var item_id = document.getElementById('linked_item').value;
      $.ajax({
                url : '/addSubscription',
                dataType: "json",
                type: "POST",
                data: {
                    user_id:user_id,
                    category:category,
                    date_purchased:date_purchased,
                    end_date:end_date,
                    item_id:item_id,
                },
                success: function(response){
                    alert('Subscription added successfully');
                    location.reload();
                },
                error: function(err){
                    console.log(err);
                    alert('Some error occured !!');
                }
            });
  }


function deletesubscription(id) {
    if(confirm('Do you want to delete it?') == true){
      $.ajax({
            url : '/deleteSubscription',
            dataType: "json",
            type: "POST",
            data: {
                id:id
            },
            success: function(response){
                alert('Deleted Successfullyt!!');
                location.reload();
            },
            error: function(err){
                console.log(err);
                alert('Some error occured !!');
            }
      });
    } 
  }


  function editSubscriptionSave(event){
      event.preventDefault();

      var end_date = document.getElementById('editend_date').value;
      var id = document.getElementsByClassName('edit_form')[0].getAttribute('id').split('_')[1];
            $.ajax({
                url : `/editSubscription`,
                dataType: "json",
                type: "POST",
                data: {
                    end_date:end_date,
                    id:id
                },
                success: function(response){
                    alert('Subscription edited successfully');
                    location.reload();
                },
                error: function(err){
                    console.log(err);
                    alert('Some error occured !!');
                }
            });
  }


  function editsubscription(id,end_date) {
      document.getElementById('editend_date').value = end_date.toString().slice(0,10);
      document.getElementsByClassName('edit_form')[0].setAttribute('id',`form_${id}`);
      editCourseModal.toggle();
  }

  function getUsers(offset) {
    var select = document.getElementById("users");
    var length = select.options.length;
    for (var i = length-1; i >= 0; i--) {
        select.options[i] = null;
    }   
                    var option = document.createElement("option");
                        option.text = "Select Users";
                        option.value= "";
                        select.add(option);             
    $.ajax({
            url : `/getSubscriptionUsers`,
            dataType: "json",
            type: "GET",
            success: function(response){
              // console.log(response);
                if(response.data.length != 0){
                  for(var i=0;i<response.data.length;i++){
                    var option = document.createElement("option");
                            option.text = response.data[i].phone_number;
                            option.value= response.data[i].id;
                            select.add(option);
                  }
                } else {
                    var option = document.createElement("option");
                        option.text = "No Users present";
                        option.value= "";
                        select.add(option);
                }
                  document.getElementById('tableLoader').style.display = 'none';
            },
            error: function(err){
                console.log(err);
                alert('Some error occured !!');
            }
        });
  }

  function getSubscription(category,offset) {
    document.getElementById('data').innerHTML = '';
    $.ajax({
            url : `/getSubscription/${category}/${offset}`,
            dataType: "json",
            type: "GET",
            success: function(response){
                // console.log(response);
                if(response.data.length != 0){
                  for(var i=0;i<response.data.length;i++){
                      var end_date  = new Date(response.data[i].end_date);
                      var date_purchased  = new Date(response.data[i].date_purchased);
                    //   console.log(end_date);
                    $('#data').append('<tr><td>'+ response.data[i].phoneNumber +'</td><td>'+ date_purchased.toString().slice(4,15) +'</td><td>'+ end_date.toString().slice(4,15) +'</td><td>'+ response.data[i].category +'</td><td>'+ response.data[i].item_name +'</td><td>'+ response.data[i].item_category +'</td><td><div class="options"> <a class="edit" onclick="editsubscription(\''+response.data[i].id+'\',\''+response.data[i].end_date+'\')"><span class="iconify" data-icon="akar-icons:edit"></span></a> <a class="delete" onclick="deletesubscription('+response.data[i].id+')"><span class="iconify" data-icon="ant-design:delete-outlined"></span></a></div></td></tr>');
                  }
                }
                  document.getElementById('tableLoader').style.display = 'none';
                  getUsers();
            },
            error: function(err){
                console.log(err);
                alert('Some error occured !!');
            }
        });
  }
  
  window.onload = getSubscription('course',0);

</script>

<%- include('../../components/footer/footer.ejs') %> 