<%- include('../../components/header/header.ejs',{cssFile : 'user'}) %> 

<div class="container-fluid user_data" id="user_data" onscroll="getMore()">
    <br>
    <!-- Modal -->
    <div class="modal fade" id="addBook" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Create Subscription</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form onsubmit="addSubscription(event)" id="form" method="post" enctype="multipart/form-data" autocomplete="off">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <select class="form-control" id="users" style="margin-bottom: 10px;" name="users" aria-label="Users Categories" required>
                                      <option value="">Select User</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="">Start Date</label>
                                    <input type="date" id="date_purchased" name="date_purchased" class="form-control" placeholder="Enter Promo Video URL" required style="margin-bottom: 10px;">
                                </div>
                                <div class="form-group">
                                    <label for="">End Date</label>
                                    <input type="date" id="end_date" onchange="calculateDays()" name="end_date" class="form-control" placeholder="Enter Course Price" style="margin-bottom: 10px;" required>
                                </div>
                                <div id="number_of_days">

                                </div>
                                <div class="form-group">
                                    <select class="form-control" id="show_category" style="margin-bottom: 10px;" name="show_category" aria-label="Images Categories" onchange="getItems('add','linked_item',this.value,false)" required>
                                        <option value="">Select Category</option>
                                      <option value="course">Course</option>
                                      <option value="book">Book</option>
                                      <option value="book-videos">Book Videos</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <select class="form-control" id="linked_item" style="margin-bottom: 10px;" name="linked_item" aria-label="Images Categories" required>
                                      <option value="no_linked_item">Select Item</option>
                                    </select>
                                </div>
                                <div class="button">
                                    <button type="submit" id="book_verify" class="btn btn-primary" style="width: 100%;margin-top: 20px;" >Create</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="editCourse" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Subscription</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form onsubmit="editSubscriptionSave(event)" id="form_" class="edit_form" method="post" enctype="multipart/form-data" autocomplete="off">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-12">
                                <div class="form-group">
                                    <label for="">End Date</label>
                                    <input type="date" id="editend_date" name="editend_date" class="form-control" placeholder="Enter Course Price" style="margin-bottom: 10px;" required>
                                </div>
                                <div class="button">
                                    <button type="submit" id="edit_book_verify" class="btn btn-primary" style="width: 100%;margin-top: 20px;">Save</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="add_button">
      <a href="#">Subscription</a>
      <div class="search_bar">
        <div class="search_input">
            <div class="icon">
              <a><span class="iconify" data-icon="akar-icons:search"></span></a>
            </div>
            <div class="input">
              <input type="text" name="" id="phoneNumber" placeholder="Search by phone number">
            </div>
          </div>
      </div>
      <div class="form-group" style="display: inline-block;width: 150px;">
        <select class="form-control" id="searchCategory" onchange="getItems('add','linked_items',this.value,true)" name="searchCategory" aria-label="Images Categories" required>
            <option value="">Select Category</option>
          <option value="course">Courses</option>
          <option value="book">Books</option>
          <option value="book-videos">Book Videos</option>
        </select>
      </div>
      <div class="form-group" style="display: inline-block;width: 150px;">
          <select class="form-control" id="linked_items" name="linked_items" aria-label="Images Categories" required>
            <option value="">All</option>
          </select>
      </div>
      <div class="options">
        <button type="button" style="margin-left:20px" onclick="searchUser()">Search</button>
      </div>
      <div class="options">
        <button type="button" data-bs-toggle="modal" data-bs-target="#addBook">Create Subscription</button>
      </div>
    </div>
    <div id="totalUsers"></div>
    <table>
        <thead>
            <th>S. No.</th>
            <th>PHONE NUMBER</th>
            <th>START DATE</th>
            <th>END DATE</th>
            <th>CATEGORY</th>
            <th>ITEM NAME</th>
            <th>ITEM CATEGORY</th>
            <th>STATUS</th>
            <th>OPTIONS</th>
        </thead>
        <tbody id="data">

        </tbody>
      </table>
      <br>
      <div id="tableLoader">
        <p>Loading...</p>
      </div>
</div>

<!--Bootstrap js-->
<script src="/bootstrap/js/bootstrap.bundle.min.js"></script>
<!---->

<script>

    var offset =0;
    var editCourseModal = new bootstrap.Modal(document.getElementById('editCourse'));

    function calculateDays() {
        var start_date = document.getElementById('date_purchased').value;
        var end_date = document.getElementById('end_date').value;
        var date1, date2;  
        date1 = new Date(start_date);  
        date2 = new Date(end_date);  
        //calculate time difference  
        var time_difference = date2.getTime() - date1.getTime();  
        //calculate days difference by dividing total milliseconds in a day  
        var days_difference = time_difference / (1000 * 60 * 60 * 24);  

        document.getElementById('number_of_days').innerHTML = `<p>Subscription = ${days_difference} days</p>`;
    }

    //function search
  function searchUser(){
    offset = 0;
    document.getElementById('data').innerHTML = '';
    var value = document.getElementById('phoneNumber').value;
    var category = document.getElementById('searchCategory').value;
    var item_id = document.getElementById('linked_items').value;
    if(item_id.length == 0 || category.length == 0){
        if(value.length !=0){
            $.ajax({
                url : `/getSearchSubscription?category=${category}&value=${value}&item_id=${item_id}`,
                dataType: "json",
                type: "GET",
                success: function(response){
                // console.log(response);
                var totalUsers = 0;
                if(response.data.length != 0){
                        for(var i=0;i<response.data.length;i++){
                            var end_date  = new Date(response.data[i].end_date);
                            var date_purchased  = new Date(response.data[i].date_purchased);
                            //   console.log(end_date);
                            if(response.data[i].status == 1) {
                                totalUsers++;
                            }
                            $('#data').append('<tr><td>'+ (i+1) +'</td><td>'+ response.data[i].phoneNumber +'</td><td>'+ date_purchased.toString().slice(4,15) +'</td><td>'+ end_date.toString().slice(4,15) +'</td><td>'+ response.data[i].category +'</td><td>'+ response.data[i].item_name +'</td><td>'+ response.data[i].item_category +'</td><td><div class="options"> <a class="edit" onclick="editsubscription(\''+response.data[i].id+'\',\''+response.data[i].end_date+'\')"><span class="iconify" data-icon="akar-icons:edit"></span></a> <a class="delete" onclick="deletesubscription('+response.data[i].id+')"><span class="iconify" data-icon="ant-design:delete-outlined"></span></a></div></td></tr>');
                        }
                        }
                        document.getElementById('tableLoader').style.display = 'none';
                document.getElementById('totalUsers').innerHTML = 'Total live users = ' + totalUsers;
                },
                error: function(err){
                console.log(err);
                alert('Some error occured !!');
                }
            });
        } else if(category.length == 0){
            getSubscription('course',0,true,false);
        } else {
            getSubscription(category,0,true,false);
        }
    } else {
        $.ajax({
        url : `/getSearchSubscription?category=${category}&value=${value}&item_id=${item_id}`,
        dataType: "json",
        type: "GET",
        success: function(response){
          // console.log(response);
                var totalUsers = 0;
          if(response.data.length != 0){
                  for(var i=0;i<response.data.length;i++){
                      var end_date  = new Date(response.data[i].end_date);
                      var date_purchased  = new Date(response.data[i].date_purchased);
                    //   console.log(end_date);
                    if(response.data[i].status == 1){
                        totalUsers++;
                    }
                    $('#data').append('<tr><td>'+ (i+1) +'</td><td>'+ response.data[i].phoneNumber +'</td><td>'+ date_purchased.toString().slice(4,15) +'</td><td>'+ end_date.toString().slice(4,15) +'</td><td>'+ response.data[i].category +'</td><td>'+ response.data[i].item_name +'</td><td>'+ response.data[i].item_category +'</td><td><div class="options"> <a class="edit" onclick="editsubscription(\''+response.data[i].id+'\',\''+response.data[i].end_date+'\')"><span class="iconify" data-icon="akar-icons:edit"></span></a> <a class="delete" onclick="deletesubscription('+response.data[i].id+')"><span class="iconify" data-icon="ant-design:delete-outlined"></span></a></div></td>'+ (response.data[i].status == 1 ? '<td style="color: green;">Active</td>' : '<td style="color: red;">Expired</td>') +'</tr>');
                  }
                }
                  document.getElementById('tableLoader').style.display = 'none';
                document.getElementById('totalUsers').innerHTML = 'Total live users = ' + totalUsers;
        },
        error: function(err){
          console.log(err);
          alert('Some error occured !!');
        }
      });
    }
  }

    function getMore() {
        offset = offset+20;
        var value = document.getElementById('phoneNumber').value;
        var category = document.getElementById('searchCategory').value;
        var item_id = document.getElementById('linked_items').value;
        if(value.length == 0 && item_id.length == 0){
            if(category.length == 0){
                getSubscription('course',offset,false,false);
            } else {
                getSubscription(category,offset,false,false);
            }
        }
    }

    function getSubscriptionOnchange(value) {
        offset = 0;
        getSubscription(value,offset,true,false);
    }


function getItems(form_value,className,value,callFunction) {
        // var value = document.getElementById('show_category').value;
        var select;
        // console.log(value);
        if(value == 'course'){
            $.ajax({
                url : '/getCourse/',
                dataType: "json",
                type: "GET",
                success: function(response){
                    select = document.getElementById(className);
                    var length = select.options.length;
                    for (var i = length-1; i >= 0; i--) {
                        select.options[i] = null;
                    }
                    if(className == 'linked_items'){
                        var option = document.createElement("option");
                        option.text = 'All';
                        option.value= '';
                        select.add(option);
                    }else {
                        var option = document.createElement("option");
                        option.text = 'Select item';
                        option.value= '';
                        select.add(option);
                    }
                    if(response.data.length != 0){
                        for(var i=0;i<response.data.length;i++){
                            var option = document.createElement("option");
                            option.text = response.data[i].title;
                            option.value= response.data[i].id;
                            select.add(option);
                        }
                    } else {
                        var option = document.createElement("option");
                        option.text = "No Courses present";
                        option.value= 'no_linked_item';
                        select.add(option);
                    }
                    $('#'+className).selectize({
                        sortField: 'text'
                    });
                },
                error: function(err){
                    console.log(err);
                    alert('Some error occured !!');
                }
            });
        } else if(value == 'book'){
            $.ajax({
                url : '/getBooks/',
                dataType: "json",
                type: "GET",
                success: function(response){
                    select = document.getElementById(className);
                    var length = select.options.length;
                    for (var i = length-1; i >= 0; i--) {
                        select.options[i] = null;
                    }
                    if(className == 'linked_items'){
                    var option = document.createElement("option");
                            option.text = 'All';
                            option.value= '';
                            select.add(option);
                    } else {
                        var option = document.createElement("option");
                            option.text = 'Select item';
                            option.value= '';
                            select.add(option);
                    }
                    if(response.data.length != 0){
                        for(var i=0;i<response.data.length;i++){
                            var option = document.createElement("option");
                            option.text = response.data[i].title;
                            option.value= response.data[i].id;
                            select.add(option);
                        }
                    } else {
                        var option = document.createElement("option");
                        option.text = "No Courses present";
                        option.value= 'no_linked_item';
                        select.add(option);
                    }
                    $('#'+className).selectize({
                        sortField: 'text'
                    });
                },
                error: function(err){
                    console.log(err);
                    alert('Some error occured !!');
                }
            });
        } else {

            if(className == 'linked_items'){
                select = document.getElementById(className);
                var length = select.options.length;
                for (var i = length-1; i >= 0; i--) {
                    select.options[i] = null;
                }
                var option = document.createElement("option");
                option.text = 'All';
                option.value= '';
                select.add(option);
            } else {
                var option = document.createElement("option");
                option.text = 'Select item';
                option.value= '';
                select.add(option);
            }
        }
        if(callFunction){
            getSubscriptionOnchange(value);
        }
    }


    function addSubscription(event){
      event.preventDefault();

      var user_id = document.getElementById('users').value;
      var category = document.getElementById('show_category').value;
      var date_purchased = document.getElementById('date_purchased').value;
      var end_date = document.getElementById('end_date').value;
      var item_id = document.getElementById('linked_item').value;
      $.ajax({
                url : '/addSubscription',
                dataType: "json",
                type: "POST",
                data: {
                    user_id:user_id,
                    category:category,
                    date_purchased:date_purchased,
                    end_date:end_date,
                    item_id:item_id,
                },
                success: function(response){
                    alert('Subscription added successfully');
                    location.reload();
                },
                error: function(err){
                    console.log(err);
                    alert('Some error occured !!');
                }
            });
  }


function deletesubscription(id) {
    if(confirm('Do you want to delete it?') == true){
      $.ajax({
            url : '/deleteSubscription',
            dataType: "json",
            type: "POST",
            data: {
                id:id
            },
            success: function(response){
                alert('Deleted Successfullyt!!');
                location.reload();
            },
            error: function(err){
                console.log(err);
                alert('Some error occured !!');
            }
      });
    } 
  }


  function editSubscriptionSave(event){
      event.preventDefault();

      var end_date = document.getElementById('editend_date').value;
      var id = document.getElementsByClassName('edit_form')[0].getAttribute('id').split('_')[1];
            $.ajax({
                url : `/editSubscription`,
                dataType: "json",
                type: "POST",
                data: {
                    end_date:end_date,
                    id:id
                },
                success: function(response){
                    alert('Subscription edited successfully');
                    location.reload();
                },
                error: function(err){
                    console.log(err);
                    alert('Some error occured !!');
                }
            });
  }


  function editsubscription(id,end_date) {
      document.getElementById('editend_date').value = end_date.toString().slice(0,10);
      document.getElementsByClassName('edit_form')[0].setAttribute('id',`form_${id}`);
      editCourseModal.toggle();
  }

  function getUsers(offset) {
    var select = document.getElementById("users");
    var length = select.options.length;
    for (var i = length-1; i >= 0; i--) {
        select.options[i] = null;
    }   

    var option = document.createElement("option");
    option.text = "Select Users";
    option.value= "";
    select.add(option);

    $.ajax({
            url : `/getSubscriptionUsers`,
            dataType: "json",
            type: "GET",
            success: function(response){
              // console.log(response);
                if(response.data.length != 0){
                  for(var i=0;i<response.data.length;i++){
                    var option = document.createElement("option");
                            option.text = response.data[i].phone_number;
                            option.value= response.data[i].id;
                            select.add(option);
                  }
                } else {
                    var option = document.createElement("option");
                        option.text = "No Users present";
                        option.value= "";
                        select.add(option);
                }
                  document.getElementById('tableLoader').style.display = 'none';
                $('#users').selectize({
                    sortField: 'text'
                });
            },
            error: function(err){
                console.log(err);
                alert('Some error occured !!');
            }
        });
  }

  function getSubscription(category,offset,callFunction,userCallFunction) {
    document.getElementById('totalUsers').innerHTML = '';
      if(callFunction) {
    document.getElementById('data').innerHTML = '';
      }
    document.getElementById('searchCategory').value = category;
    $.ajax({
            url : `/getSubscription/${category}/${offset}`,
            dataType: "json",
            type: "GET",
            success: function(response){
                // console.log(response);
                if(response.data.length != 0){
                  for(var i=0;i<response.data.length;i++){
                      var end_date  = new Date(response.data[i].end_date);
                      var date_purchased  = new Date(response.data[i].date_purchased);
                    //   console.log(end_date);
                    $('#data').append('<tr><td>'+ (i+offset+1) +'</td><td>'+ response.data[i].phoneNumber +'</td><td>'+ date_purchased.toString().slice(4,15) +'</td><td>'+ end_date.toString().slice(4,15) +'</td><td>'+ response.data[i].category +'</td><td>'+ response.data[i].item_name +'</td><td>'+ response.data[i].item_category +'</td><td><div class="options"> <a class="edit" onclick="editsubscription(\''+response.data[i].id+'\',\''+response.data[i].end_date+'\')"><span class="iconify" data-icon="akar-icons:edit"></span></a> <a class="delete" onclick="deletesubscription('+response.data[i].id+')"><span class="iconify" data-icon="ant-design:delete-outlined"></span></a></div></td>'+ (response.data[i].status == 1 ? '<td style="color: green;">Active</td>' : '<td style="color: red;">Expired</td>') +'</tr>');
                  }
                }
                  document.getElementById('tableLoader').style.display = 'none';
                  if(userCallFunction) {
                    getUsers();
                  }
                  if(callFunction){
                    getItems('add','linked_items',category,false);
                  }
            },
            error: function(err){
                console.log(err);
                alert('Some error occured !!');
            }
        });
  }
  
  window.onload = getSubscription('course',0,true,true);

</script>

<%- include('../../components/footer/footer.ejs') %> 