<%- include('../header/header.ejs',{cssFile : 'sidebar'}) %> 

<div class="sidebar">
    <!-- <div id="selected_card" class="selected_card"></div> -->
    <div class="logo">
        <h3>Dashboard&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="iconify" data-icon="akar-icons:cross" style="width: 15px;" onclick="toggleSideBar()"></span></h3>
    </div>
    <ul>
        <li class="list">
            <span class="iconify" data-icon="ant-design:user-outlined"></span>
            <span class="sidebar_text">Users</span>
        </li>
        <li class="list">
            <span class="iconify" data-icon="codicon:list-ordered"></span>
            <span class="sidebar_text">Orders</span>
        </li>
        <li class="list">
            <span class="iconify" data-icon="codicon:list-ordered"></span>
            <span class="sidebar_text">Subscription</span>
        </li>
        <li class="list">
            <span class="iconify" data-icon="akar-icons:folder"></span>
            <span class="sidebar_text">Gallery</span>
        </li>
        <li class="list">
            <span class="iconify" data-icon="carbon:blog"></span>
            <span class="sidebar_text">Blogs</span>
        </li>
        <li class="list">
            <span class="iconify" data-icon="bi:box-seam"></span>
            <span class="sidebar_text">Products</span>
        </li>
        <li class="list">
            <span class="iconify" data-icon="ant-design:book-outlined"></span>
            <span class="sidebar_text">Courses</span>
        </li>
        <li class="list">
            <span class="iconify" data-icon="bx:bx-book"></span>
            <span class="sidebar_text">Books</span>
        </li>
        <li class="list">
            <span class="iconify" data-icon="ic:outline-local-offer"></span>
            <span class="sidebar_text">Coupons</span>
        </li>
        <li class="list">
            <span class="iconify" data-icon="carbon:review"></span>
            <span class="sidebar_text">Reviews</span>
        </li>
        <li class="list">
            <span class="iconify" data-icon="akar-icons:image"></span>
            <span class="sidebar_text">Slider</span>
        </li>
        <li class="list">
            <span class="iconify" data-icon="fluent:live-20-filled"></span>
            <span class="sidebar_text">Live</span>
        </li>
        <li class="list">
            <span class="iconify" data-icon="iconoir:profile-circled"></span>
            <span class="sidebar_text">Profile</span>
        </li>
    </ul>
</div>

<%- include('../footer/footer.ejs') %> 